@model eTermini.Models.MatchesEntity

@{
    ViewData["Title"] = "Create";
    // Retrieve the list of fields from your database
    List<eTermini.Models.FieldsEntity> fieldsList = ViewBag.FieldsList;
}

<h1>Create</h1>

<h4>MatchesEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="OrganizerID" class="control-label"></label>
                <input asp-for="OrganizerID" class="form-control" />
                <span asp-validation-for="OrganizerID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <!-- Use a dropdown list for LocationID -->
                <select asp-for="LocationID" class="form-control">
                    <option value="">Select a field</option>
                    @foreach (var field in fieldsList)
                    {
                        <option value="@field.Id">@field.FieldName</option>
                    }
                </select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerCount" class="control-label"></label>
                <input asp-for="PlayerCount" class="form-control" />
                <span asp-validation-for="PlayerCount" class="text-danger"></span>
            </div>

            <div class="form-group" style="display: none;">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" value="Fusha"/>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
